/* navbar.php */

html{
    font-family: u,system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}

nav{
    background-color: rgb(30, 105, 92);
}

.text{    
    font-family: 'Open Sans SemiCondensed';
    font-weight: 400;
}

.nav-item{    
    display: flex;
    align-items: center;
}

.nav-link{         
    color: white; 
    font-weight: 600;
    border-radius: 5px;      
    cursor: pointer;
}

.nav-link:hover{    
    color: rgb(127, 177, 18);
    background-color: rgb(62, 82, 78);    
}


@media (min-width: 770px) {
    .img{
        max-width: 0;
    }
}

@media (max-width: 764px) {
    .collapse{
        padding-left: 0px;
    }
    .img{
        max-width: 100%;
    }
}
/* END navbar.php */